interactions:
  - request:
      body:
        '{"urls": ["http://secure2.verification-personal-information.ini-ippat-jatim.or.id"],
        "email": "foo@example.com"}'
      headers:
        content-type:
          - application/json
      method: POST
      uri: https://report.netcraft.com/api/v2/report/urls
    response:
      content: '{"message":"Successfully reported","uuid":"H8g6TiVFLvAyjgsb9B7XkQe0bY2Fqnc1"}'
      headers:
        Content-Type:
          - application/json;charset=UTF-8
      status_code: 200
version: 1
