interactions:
- request:
    body: '{"url": "http://payplint.com.supports-billings.com/admin"}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://urlscan.io/api/v1/scan/
  response:
    content: "{\n  \"message\": \"Submission successful\",\n  \"uuid\": \"538a597e-be68-4679-92f0-aef05a71f988\"\
      ,\n  \"result\": \"https://urlscan.io/result/538a597e-be68-4679-92f0-aef05a71f988/\"\
      ,\n  \"api\": \"https://urlscan.io/api/v1/result/538a597e-be68-4679-92f0-aef05a71f988/\"\
      ,\n  \"visibility\": \"private\",\n  \"options\": {\n    \"useragent\": \"Mozilla/5.0\
      \ (Macintosh; Intel Mac OS X 10_14_5) AppleWebKit/537.36 (KHTML, like Gecko)\
      \ Chrome/83.0.4103.61 Safari/537.36\"\n  },\n  \"url\": \"http://payplint.com.supports-billings.com/admin\"\
      \n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1f3-AesWG8OSZIIdxRAxULzoUy6hDOg"
      X-Rate-Limit-Action:
      - private
      X-Rate-Limit-Limit:
      - '120'
      X-Rate-Limit-Remaining:
      - '120'
      X-Rate-Limit-Reset:
      - '2020-12-22T06:50:00.000Z'
      X-Rate-Limit-Reset-After:
      - '1'
      X-Rate-Limit-Scope:
      - user
      X-Rate-Limit-Window:
      - minute
    status_code: 200
version: 1
